<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Temukan Restaurant Favoritmu">
    <link rel="stylesheet" href="./styles/main.css" />
    <title>Restaurant Apps Starter Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">   </head>
  <body>
    <a href="#main-content" class="skip-link tab-focus">Lewati ke Konten</a>
    <header class="app-bar">
      <div class="app-bar_menu">
        <button id="hamburger-menu" class="tab-focus" tabindex="0"><i data-feather="menu"></i></button>
      </div>
      <div class="app-bar_brand">
        <h1 class="navbar-logo tab-focus" tabindex="0"><span>warung</span>sebelah</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar_navigation">
        <ul>
          <li><a href="#/home" tabindex="0" class="tab-focus">Home</a></li>
          <li><a href="#/favorite" tabindex="0" class="tab-focus">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/hilda-putri-a0746b291?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" tabindex="0" class="tab-focus">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main  id="main-content" tabindex="0">
      <!-- Hero Element -->
    <div class="hero">
      <div class="hero__inner" >
        <h1 class="hero__title tab-focus"  tabindex="0" >Setiap Gigitan adalah Petualangan Rasa yang Baru</h1>
        <p class="hero__tagline tab-focus" tabindex="0" >
          Selamat datang di tempat yang penuh dengan kejutan kuliner, 
          di mana setiap kunjungan adalah perjalanan menuju kenikmatan tak terduga
        </p>
      </div>
    </div>
    <section id="about" >
      <h2 tabindex="0" class="tab-focus">Tentang</h2>
      <div class="content">
        <h3 tabindex="0" class="tab-focus">Selamat Datang Di Warung Sebelah</h3>
        <p tabindex="0" class="tab-focus">Kami adalah teman setia para traveler yang selalu mencari petualangan kuliner baru. Warung Sebelah hadir untuk memandu Anda dalam menjelajahi dunia kuliner dengan menawarkan rekomendasi eksklusif untuk restoran-restoran terbaik di seluruh Indonesia</p>
        <p tabindex="0" class="tab-focus">Terima kasih telah mempercayai Warung Sebelah sebagai panduan kuliner Anda. Mari bersama-sama menjelajahi dunia rasa dan menikmati setiap gigitan petualangan kuliner yang tak terlupakan.
          Selamat makan, selamat berpetualang!</p>
      </div>
    </section>
    </main>  

    <!-- Footer -->
    <footer>
      <div class="socials">
        <a href="https://www.instagram.com/" class="tab-focus"><i data-feather="instagram"></i></a>
        <a href="https://twitter.com/" class="tab-focus"><i data-feather="twitter"></i></a>
        <a href="https://id-id.facebook.com/" class="tab-focus"><i data-feather="facebook"></i></a>
      </div>
      <div class="credit">
        <p>created By <span>Hilda</span> | &copy2023</p>
    </footer>

    
    <script src="./scripts/index.js"></script>
   
    <script>
      feather.replace();
    </script>
    
  </body>
</html>
